{% extends 'food_menu/base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    h1 {
      text-align: center;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    p {text-align: center;}
    div {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {text-align: center;}
    </style>
  </head>
  <body>
    <div class="alert alert-danger">
      <h1>You have been logged out</h1>
    </div>
  </body>
</html>
{% endblock %}
