{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food Menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="p-3 mb-2 bg-secondary text-dark">
        <a href="#" class="navbar-brand ">Food App</a>
      </div>
      <div class="navbar">
        <div>
          <a class="nav-item nav-link btn btn-success link-light" href="{% url 'food_menu:create_item' %}" >Add Items</a>
        </div>
        <!-- <a class="nav-item nav-link" href="#">Edit Items</a> -->
        <div>
          <a class="nav-item nav-link btn btn-primary link-light" href="{% url 'food_menu:index' %}">View Items</a>
        </div>
        <div>
          <a class="nav-item nav-link btn btn-info link-light" href="{% url 'users:profile' %}">Profile</a>
        </div>
        <div>
          <a class="nav-item nav-link btn btn-primary link-light" href="{% url 'users:register' %}">Signup</a>
        </div>
        <div>
          <a class="nav-item nav-link btn btn-success link-light" href="{% url 'login' %}">Login</a>
        </div>
        <div>
          <a class="nav-item nav-link btn btn-danger link-light" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </nav>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block body %}
    {% endblock %}
  </body>
</html>
